db-admin.json
[{"id":"f21c58fa.df22a8","type":"tab","label":"db-admin","disabled":false,"info":""},{"id":"43a30bef.7600b4","type":"inject","z":"f21c58fa.df22a8","name":"CREATE feed","topic":"CREATE TABLE feed (name, url)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":80,"wires":[["ee492471.f73f68"]]},{"id":"ee492471.f73f68","type":"sqlite","z":"f21c58fa.df22a8","mydb":"5c7d3cc7.3aa514","sqlquery":"msg.topic","sql":"","name":"db","x":330,"y":280,"wires":[[]]},{"id":"a9479c09.b2831","type":"inject","z":"f21c58fa.df22a8","name":"CREATEkeyword","topic":"CREATE TABLE keyword (expression)","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":160,"wires":[["ee492471.f73f68"]]},{"id":"5286bc2b.bdc934","type":"inject","z":"f21c58fa.df22a8","name":"CREATE match","topic":"CREATE TABLE match (link, title, description,sent,UNIQUE(link))","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":220,"wires":[["ee492471.f73f68"]]},{"id":"49c7bd64.c3f9a4","type":"inject","z":"f21c58fa.df22a8","name":"DROP feed","topic":"DROP TABLE feed ","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":380,"wires":[["ee492471.f73f68"]]},{"id":"a8ca8367.6e54b","type":"inject","z":"f21c58fa.df22a8","name":"DROP keyword","topic":"DROP TABLE keyword","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":440,"wires":[["ee492471.f73f68"]]},{"id":"e5049a08.2ea4a8","type":"inject","z":"f21c58fa.df22a8","name":"DROP match","topic":"DROP TABLE match","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":500,"wires":[["ee492471.f73f68"]]},{"id":"6458d57b.7837cc","type":"comment","z":"f21c58fa.df22a8","name":"Delete Tables","info":"","x":90,"y":340,"wires":[]},{"id":"eb5761cf.44c02","type":"comment","z":"f21c58fa.df22a8","name":"Create Tables","info":"","x":110,"y":40,"wires":[]},{"id":"5c7d3cc7.3aa514","type":"sqlitedb","z":"","db":"E:\\Node-Red\\Monitor\\monitor.db","mode":"RWC"}]