RSS-Reader.json
[{"id":"96e12571.4fe3f8","type":"tab","label":"RSS-Reader","disabled":false,"info":""},{"id":"fea88c31.a1cbf","type":"feedparse","z":"96e12571.4fe3f8","d":true,"name":"Fox","url":"https://api.foxsports.com/v1/rss?partnerKey=zBaFxRyGKCfxBagJG9b8pqLyndmvo7UU","interval":"1","x":90,"y":580,"wires":[["4b1a73d4.540a6c","32dfc90f.a7f876"]]},{"id":"4b1a73d4.540a6c","type":"debug","z":"96e12571.4fe3f8","name":"Visual-debug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":560,"wires":[]},{"id":"32dfc90f.a7f876","type":"switch","z":"96e12571.4fe3f8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"regex","v":"warriors","vt":"str","case":true},{"t":"regex","v":"golden state","vt":"str","case":true},{"t":"regex","v":"curry","vt":"str","case":true},{"t":"regex","v":"kerr","vt":"str","case":true},{"t":"regex","v":"nba","vt":"str","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":6,"x":250,"y":640,"wires":[["bdd3cd88.6ec3a"],["bdd3cd88.6ec3a"],["bdd3cd88.6ec3a"],["bdd3cd88.6ec3a"],["bdd3cd88.6ec3a"],[]]},{"id":"bdd3cd88.6ec3a","type":"change","z":"96e12571.4fe3f8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"article.description","tot":"str"},{"t":"set","p":"topic","pt":"msg","to":"article.title","tot":"msg"},{"t":"set","p":"from","pt":"msg","to":"<rss-alert@noreply.com>\"RSS Alert\" <rss-alert@noreply.com>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":620,"wires":[["21e700cd.4f89f"]]},{"id":"fa0c56ea.061f28","type":"e-mail","z":"96e12571.4fe3f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"khalifa.wieme@gmail.com","dname":"e-mail","x":790,"y":620,"wires":[]},{"id":"21e700cd.4f89f","type":"template","z":"96e12571.4fe3f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n{{article.description}}\n\n\nRead more: {{{article.link }}}","output":"str","x":640,"y":620,"wires":[["fa0c56ea.061f28"]]},{"id":"9518809e.525e","type":"feedparse","z":"96e12571.4fe3f8","d":true,"name":"espn","url":"https://www.espn.com/espn/rss/news","interval":"1","x":90,"y":680,"wires":[["32dfc90f.a7f876"]]},{"id":"ded2a54d.3a4488","type":"comment","z":"96e12571.4fe3f8","name":"RSS Reader","info":"","x":110,"y":40,"wires":[]},{"id":"c3d474d2.f57398","type":"inject","z":"96e12571.4fe3f8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":80,"wires":[["ef890949.b5d168"]]},{"id":"888ff52b.89c408","type":"comment","z":"96e12571.4fe3f8","name":"reading keywords","info":"","x":100,"y":120,"wires":[]},{"id":"ef890949.b5d168","type":"sqlite","z":"96e12571.4fe3f8","mydb":"5c7d3cc7.3aa514","sqlquery":"fixed","sql":"SELECT rowid, * from keyword","name":"db-keyword","x":110,"y":160,"wires":[["17509c79.b06f14"]]},{"id":"c4ba5f47.b466d","type":"debug","z":"96e12571.4fe3f8","name":"rss-reader-db-keywords","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":340,"wires":[]},{"id":"17509c79.b06f14","type":"change","z":"96e12571.4fe3f8","name":"keywords","rules":[{"t":"set","p":"keyword","pt":"msg","to":"$join(payload.expression, \" | \")\t\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":160,"wires":[["89eca957.18d6b8"]]},{"id":"35ed45cc.d9f0ba","type":"comment","z":"96e12571.4fe3f8","name":"Reading feeds Urls","info":"","x":430,"y":120,"wires":[]},{"id":"89eca957.18d6b8","type":"sqlite","z":"96e12571.4fe3f8","mydb":"5c7d3cc7.3aa514","sqlquery":"fixed","sql":"SELECT rowid, * from feed","name":"db-feed","x":420,"y":160,"wires":[["2de38724.9687a8"]]},{"id":"2de38724.9687a8","type":"split","z":"96e12571.4fe3f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":590,"y":160,"wires":[["cbf2c6e0.2f8278"]]},{"id":"cbf2c6e0.2f8278","type":"change","z":"96e12571.4fe3f8","name":"read url","rules":[{"t":"move","p":"payload.url","pt":"msg","to":"url","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":220,"y":220,"wires":[["bd5254b6.c97a88"]]},{"id":"bd5254b6.c97a88","type":"http request","z":"96e12571.4fe3f8","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":220,"wires":[["12017aca.31a635"]]},{"id":"12017aca.31a635","type":"xml","z":"96e12571.4fe3f8","name":"","property":"payload","attr":"","chr":"","x":150,"y":280,"wires":[["6271179a.e26b78"]]},{"id":"6271179a.e26b78","type":"change","z":"96e12571.4fe3f8","name":"read item","rules":[{"t":"move","p":"payload.rss.channel[0].item","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["dfd96fc.0d8979"]]},{"id":"dfd96fc.0d8979","type":"split","z":"96e12571.4fe3f8","name":"split articles","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":280,"wires":[["3d6680a6.97058"]]},{"id":"3d6680a6.97058","type":"switch","z":"96e12571.4fe3f8","name":"Match?","property":"payload.description[0]","propertyType":"msg","rules":[{"t":"regex","v":"keyword","vt":"msg","case":true},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":680,"y":280,"wires":[["7264ec86.8d6044"],[]]},{"id":"7264ec86.8d6044","type":"template","z":"96e12571.4fe3f8","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT OR IGNORE INTO match VALUES (\n     '{{{payload.link.0}}}', \n     '{{payload.title.0}}',\n     '{{payload.description.0}}',\n     0) ","output":"str","x":840,"y":280,"wires":[["a75f6dd1.12ed6","f671da82.72ad78"]]},{"id":"a75f6dd1.12ed6","type":"sqlite","z":"96e12571.4fe3f8","mydb":"5c7d3cc7.3aa514","sqlquery":"msg.topic","sql":"","name":"db","x":1030,"y":280,"wires":[[]]},{"id":"ae163af6.ad8be8","type":"comment","z":"96e12571.4fe3f8","name":"Notifications","info":"","x":110,"y":360,"wires":[]},{"id":"f67409fe.844098","type":"inject","z":"96e12571.4fe3f8","name":"1 day","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"00 13 * * 1,2,3,4,5","once":false,"onceDelay":0.1,"x":90,"y":400,"wires":[["73eb1457.9e2b8c"]]},{"id":"73eb1457.9e2b8c","type":"sqlite","z":"96e12571.4fe3f8","mydb":"5c7d3cc7.3aa514","sqlquery":"fixed","sql":"SELECT rowid, * FROM match\n\nWHERE sent = 0","name":"db-matche","x":310,"y":400,"wires":[["c4ba5f47.b466d","b4ab3e70.64b14","e91db5b6.fbeab8"]]},{"id":"b840b27c.07995","type":"comment","z":"96e12571.4fe3f8","name":"reading matches","info":"","x":300,"y":360,"wires":[]},{"id":"c52e861d.455d08","type":"template","z":"96e12571.4fe3f8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\n\n{{description}}\n\n\nRead more: {{{link }}}\n\n{{/payload}}","output":"str","x":780,"y":460,"wires":[["c41ef208.18876","16590ad7.57a755"]]},{"id":"16590ad7.57a755","type":"e-mail","z":"96e12571.4fe3f8","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"khalifa.wieme@gmail.com","dname":"e-mail","x":950,"y":460,"wires":[]},{"id":"9afedc93.7774e","type":"template","z":"96e12571.4fe3f8","name":"UPDATE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"UPDATE match SET sent = 1 WHERE rowid = {{payload.rowid}}","output":"str","x":840,"y":360,"wires":[["a75f6dd1.12ed6"]]},{"id":"b4ab3e70.64b14","type":"split","z":"96e12571.4fe3f8","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":400,"wires":[["9afedc93.7774e"]]},{"id":"735bfcba.a8b6b4","type":"change","z":"96e12571.4fe3f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"daily report","tot":"str"},{"t":"set","p":"from","pt":"msg","to":"<rss-alert@noreply.com>\"RSS Alert\" <rss-alert@noreply.com>","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":460,"wires":[["c52e861d.455d08"]]},{"id":"c41ef208.18876","type":"debug","z":"96e12571.4fe3f8","name":"sent message","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":520,"wires":[]},{"id":"f671da82.72ad78","type":"debug","z":"96e12571.4fe3f8","name":"match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":200,"wires":[]},{"id":"e91db5b6.fbeab8","type":"switch","z":"96e12571.4fe3f8","name":"empty","property":"payload","propertyType":"msg","rules":[{"t":"empty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":480,"wires":[[],["cdb333a5.f0f3","735bfcba.a8b6b4"]]},{"id":"cdb333a5.f0f3","type":"debug","z":"96e12571.4fe3f8","name":"not empty","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":520,"wires":[]},{"id":"5c7d3cc7.3aa514","type":"sqlitedb","z":"","db":"E:\\Node-Red\\Monitor\\monitor.db","mode":"RWC"}]