RSS-nbcsports.json
[{"id":"ba05f99a.9b9c28","type":"tab","label":"RSS-nbcsports","disabled":false,"info":""},{"id":"5592a618.51ff58","type":"inject","z":"ba05f99a.9b9c28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":20,"wires":[["a549444.ac8deb8"]]},{"id":"a549444.ac8deb8","type":"http request","z":"ba05f99a.9b9c28","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.nbcsports.com/nba","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":80,"wires":[["dbabed01.eef1e"]]},{"id":"511a1a1e.66f534","type":"debug","z":"ba05f99a.9b9c28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":500,"wires":[]},{"id":"dbabed01.eef1e","type":"html","z":"ba05f99a.9b9c28","name":"div","property":"payload","outproperty":"payload","tag":"div.more-headlines__list-item","ret":"html","as":"multi","x":590,"y":80,"wires":[["34859de3.0a6dc2"]]},{"id":"efe3ea33.d571c8","type":"comment","z":"ba05f99a.9b9c28","name":"spitting div's per article","info":"","x":620,"y":40,"wires":[]},{"id":"a0321569.886538","type":"comment","z":"ba05f99a.9b9c28","name":"extracting info","info":"","x":90,"y":140,"wires":[]},{"id":"f9d3e506.06b028","type":"html","z":"ba05f99a.9b9c28","name":"title","property":"payload","outproperty":"item.title","tag":"div.story__title a","ret":"text","as":"multi","x":90,"y":180,"wires":[["ce8ac768.deb128"]]},{"id":"ce8ac768.deb128","type":"html","z":"ba05f99a.9b9c28","name":"link","property":"payload","outproperty":"item.link","tag":"div.story__title a","ret":"attr","as":"multi","x":90,"y":240,"wires":[["dd225c76.43f1a"]]},{"id":"4c8d44d3.bda82c","type":"html","z":"ba05f99a.9b9c28","name":"description","property":"payload","outproperty":"item.description","tag":"div.story__summary","ret":"attr","as":"multi","x":110,"y":300,"wires":[["e25cb4a9.9935e8"]]},{"id":"dd225c76.43f1a","type":"change","z":"ba05f99a.9b9c28","name":"date","rules":[{"t":"set","p":"item.date","pt":"msg","to":"$replace(item.link.href, /.*(\\d{4})\\/(\\d{2})\\/(\\d{2}).*/, \"$1-$2-$3\", limit)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":210,"y":240,"wires":[["4c8d44d3.bda82c"]]},{"id":"e25cb4a9.9935e8","type":"join","z":"ba05f99a.9b9c28","name":"","mode":"custom","build":"array","property":"item","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":300,"wires":[["440eecc4.0419e4"]]},{"id":"34859de3.0a6dc2","type":"change","z":"ba05f99a.9b9c28","name":"","rules":[{"t":"move","p":"parts","pt":"msg","to":"_parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":80,"wires":[["f9d3e506.06b028"]]},{"id":"f8c6323f.a628f","type":"change","z":"ba05f99a.9b9c28","name":"","rules":[{"t":"move","p":"_parts","pt":"msg","to":"parts","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":300,"wires":[[]]},{"id":"65826ef5.2ba9b","type":"rss","z":"ba05f99a.9b9c28","name":"","feedOptionRules":[{"name":"title","type":"str","value":"ProBasketball Talk"},{"name":"feed_url","type":"str","value":"localhost1880/rss/nbcsports"},{"name":"site_url","type":"str","value":"https://www.nbcsports.com/nba"}],"itemOptionRules":[{"name":"title","type":"item","value":"title"},{"name":"description","type":"item","value":"description"},{"name":"url","type":"item","value":"link.href"},{"name":"guid","type":"item","value":"link.href"},{"name":"date","type":"item","value":"date"}],"x":470,"y":420,"wires":[["511a1a1e.66f534","2bd11c11.3d3b44"]]},{"id":"d528df83.a915","type":"comment","z":"ba05f99a.9b9c28","name":"RSS Response","info":"","x":460,"y":360,"wires":[]},{"id":"440eecc4.0419e4","type":"change","z":"ba05f99a.9b9c28","name":"","rules":[{"t":"move","p":"item","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":760,"y":300,"wires":[["65826ef5.2ba9b"]]},{"id":"9903d24f.bfc7c","type":"http in","z":"ba05f99a.9b9c28","name":"","url":"/rss/nbcsports","method":"get","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["a549444.ac8deb8"]]},{"id":"955d31cf.54d2","type":"http response","z":"ba05f99a.9b9c28","name":"","statusCode":"","headers":{},"x":870,"y":420,"wires":[]},{"id":"2bd11c11.3d3b44","type":"change","z":"ba05f99a.9b9c28","name":"header","rules":[{"t":"set","p":"headers.Content-Type","pt":"msg","to":"application/rss+xml","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":420,"wires":[["955d31cf.54d2"]]}]