web-request.json
[{"id":"85334bc4.16d4c8","type":"tab","label":"web-request","disabled":false,"info":""},{"id":"c785de91.4cd55","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/feed","method":"get","upload":false,"swaggerDoc":"","x":90,"y":80,"wires":[["3fd38c84.c3e064"]]},{"id":"ba57b52d.4fe098","type":"template","z":"85334bc4.16d4c8","name":"","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div class = \"container\">\n    <h1>Feed</h1>\n    <div class =\"row\">\n        <div class=\"col-md-6\">\n            \n            <table class=\"table \">\n                \n                  <thead>\n                        <tr>\n                          <th scope=\"col\">Name</th>\n                          <th scope=\"col\">Url</th>\n                          <th scope=\"col\"></th>\n                        </tr>\n                  </thead>\n                  \n                  <tbody>\n                        {{#payload}}\n                        <tr class=\"table-primary\">\n                          \n                          <td>{{name}}</td>\n                          <td>{{url}}</td>\n                          <td><a href=\"/monitor/feed/delete/{{rowid}}\" class=\"btn btn-outline-danger \">Delete</a> </td>\n                        </tr>\n                        {{/payload}}\n                  </tbody>\n                  \n            </table>\n            \n        </div>\n        \n        <div class=\"col-md-6\">\n            \n            <form method =\"POST\" action=\"/monitor/feed\">\n                \n                <div class=\"form-group\">\n                  <label for=\"name\">Name</label>\n                  <input class=\"form-control\" id=\"name\" name= \"name\">\n                  \n                  <label for=\"Url\">Url</label>\n                  <input class=\"form-control\" id=\"url\" name= \"url\">\n                  <button type=\"submit\" class=\"btn btn-primary\">Add</button>\n                </div>\n            </form>\n            \n        </div>\n    </div>\n    \n</div>\n","output":"str","x":760,"y":80,"wires":[["fb3090ac.4fcbb"]]},{"id":"3fd38c84.c3e064","type":"sqlite","z":"85334bc4.16d4c8","mydb":"5c7d3cc7.3aa514","sqlquery":"fixed","sql":"SELECT rowid, * from feed","name":"db-feed","x":580,"y":80,"wires":[["ba57b52d.4fe098","8da3d610.c1b708"]]},{"id":"8da3d610.c1b708","type":"debug","z":"85334bc4.16d4c8","name":"db-feed ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":120,"wires":[]},{"id":"b5cbee0f.c20f1","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/feed","method":"post","upload":false,"swaggerDoc":"","x":90,"y":240,"wires":[["6ad298a6.0aa6a8","916a544c.7d1c78"]]},{"id":"6ad298a6.0aa6a8","type":"template","z":"85334bc4.16d4c8","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO feed VALUES ('{{{payload.name}}}', '{{{payload.url}}}') ","output":"str","x":360,"y":240,"wires":[["ddbfd405.6fda98"]]},{"id":"ddbfd405.6fda98","type":"sqlite","z":"85334bc4.16d4c8","mydb":"5c7d3cc7.3aa514","sqlquery":"msg.topic","sql":"SELECT * from feed","name":"db-feed","x":520,"y":140,"wires":[["3fd38c84.c3e064"]]},{"id":"916a544c.7d1c78","type":"debug","z":"85334bc4.16d4c8","name":"post-visualization","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":280,"wires":[]},{"id":"d8f3e328.73967","type":"template","z":"85334bc4.16d4c8","name":"DELETE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM feed WHERE rowid  ={{req.params.rowid}} \n","output":"str","x":360,"y":140,"wires":[["ddbfd405.6fda98"]]},{"id":"438b8e14.e0af8","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/feed/delete/:rowid","method":"get","upload":false,"swaggerDoc":"","x":130,"y":140,"wires":[["73beadd2.195bd4","d8f3e328.73967"]]},{"id":"73beadd2.195bd4","type":"debug","z":"85334bc4.16d4c8","name":"getDelete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":280,"y":200,"wires":[]},{"id":"126f0e45.a1fbf2","type":"comment","z":"85334bc4.16d4c8","name":"/monitor/feed","info":"","x":90,"y":40,"wires":[]},{"id":"7772942d.ce9c0c","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/keyword","method":"get","upload":false,"swaggerDoc":"","x":100,"y":420,"wires":[["edbc1fed.2ba48"]]},{"id":"6c423613.52fb98","type":"template","z":"85334bc4.16d4c8","name":"","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div class = \"container\">\n    <h1>keyword</h1>\n    <div class =\"row\">\n        <div class=\"col-md-6\">\n            \n            <table class=\"table \">\n                \n                  <thead>\n                        <tr>\n                          <th scope=\"col\">Expression</th>\n                          \n                          <th scope=\"col\"></th>\n                        </tr>\n                  </thead>\n                  \n                  <tbody>\n                        {{#payload}}\n                        <tr class=\"table-primary\">\n                          \n                          <td>{{expression}}</td>\n                          \n                          <td><a href=\"/monitor/keyword/delete/{{rowid}}\" class=\"btn btn-outline-danger \">Delete</a> </td>\n                        </tr>\n                        {{/payload}}\n                  </tbody>\n                  \n            </table>\n            \n        </div>\n        \n        <div class=\"col-md-6\">\n            \n            <form method =\"POST\" action=\"/monitor/keyword\">\n                \n                <div class=\"form-group\">\n                  <label for=\"expression\">Expression</label>\n                  <input class=\"form-control\" id=\"expression\" name= \"expression\">\n                  \n                  \n                  <button type=\"submit\" class=\"btn btn-primary\">Add</button>\n                </div>\n            </form>\n            \n        </div>\n    </div>\n    \n</div>\n","output":"str","x":760,"y":420,"wires":[["fb3090ac.4fcbb"]]},{"id":"edbc1fed.2ba48","type":"sqlite","z":"85334bc4.16d4c8","mydb":"5c7d3cc7.3aa514","sqlquery":"fixed","sql":"SELECT rowid, * from keyword","name":"db-keyword","x":590,"y":420,"wires":[["6c423613.52fb98","c1988a81.0c2ee8"]]},{"id":"c1988a81.0c2ee8","type":"debug","z":"85334bc4.16d4c8","name":"db-keyword ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":320,"wires":[]},{"id":"28fe120a.8c246e","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/keyword","method":"post","upload":false,"swaggerDoc":"","x":100,"y":580,"wires":[["a9711080.86885","2d3d8691.2922da"]]},{"id":"a9711080.86885","type":"template","z":"85334bc4.16d4c8","name":"INSERT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"INSERT INTO keyword VALUES ('{{{payload.expression}}}') ","output":"str","x":370,"y":580,"wires":[["cc67949c.054658"]]},{"id":"cc67949c.054658","type":"sqlite","z":"85334bc4.16d4c8","mydb":"5c7d3cc7.3aa514","sqlquery":"msg.topic","sql":"SELECT * from keyword","name":"db-keyword","x":530,"y":480,"wires":[["edbc1fed.2ba48"]]},{"id":"2d3d8691.2922da","type":"debug","z":"85334bc4.16d4c8","name":"post-visualization","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":320,"y":620,"wires":[]},{"id":"7b2dfce.c9c7e04","type":"template","z":"85334bc4.16d4c8","name":"DELETE","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"DELETE FROM keyword WHERE rowid  ={{req.params.rowid}} \n","output":"str","x":370,"y":480,"wires":[["cc67949c.054658"]]},{"id":"be19c43.d1bf138","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/keyword/delete/:rowid","method":"get","upload":false,"swaggerDoc":"","x":140,"y":480,"wires":[["c043201.a2eb0e","7b2dfce.c9c7e04"]]},{"id":"c043201.a2eb0e","type":"debug","z":"85334bc4.16d4c8","name":"getDelete","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":290,"y":540,"wires":[]},{"id":"745a20e8.0ac08","type":"comment","z":"85334bc4.16d4c8","name":"/monitor/keyword","info":"","x":110,"y":380,"wires":[]},{"id":"58e838f9.3470d8","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/","method":"get","upload":false,"swaggerDoc":"","x":70,"y":760,"wires":[["79eefa5.1471004"]]},{"id":"f5fd80c1.5784c","type":"http response","z":"85334bc4.16d4c8","name":"","statusCode":"","headers":{},"x":1070,"y":720,"wires":[]},{"id":"fb3090ac.4fcbb","type":"template","z":"85334bc4.16d4c8","name":"NavBar","field":"template.navbar","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<nav class=\"navbar navbar-expand-lg navbar-light bg-light\">\n  <a class=\"navbar-brand\" href=\"/monitor\">RSS Monitor</a>\n  <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarColor03\" aria-controls=\"navbarColor03\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n    <span class=\"navbar-toggler-icon\"></span>\n  </button>\n\n  <div class=\"collapse navbar-collapse\" id=\"navbarColor03\">\n    <ul class=\"navbar-nav mr-auto\">\n        \n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/monitor/showcase\">Showcase</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/monitor/feed\">Feeds</a>\n      </li>\n      <li class=\"nav-item\">\n        <a class=\"nav-link\" href=\"/monitor/keyword\">Keywords</a>\n      </li>\n      \n    </ul>\n    \n    <form method =\"POST\" action=\"/monitor\" class=\"form-inline my-2 my-lg-0\">\n      <input name=\"search\" value=\"{{req.body.search}}\" class=\"form-control mr-sm-2\" type=\"text\" placeholder=\"Search\">\n      <button class=\"btn btn-secondary my-2 my-sm-0\" type=\"submit\">Search</button>\n    </form>\n    \n  </div>\n</nav>\n\n\n","output":"str","x":1060,"y":280,"wires":[["52bda8c8.a5d488"]]},{"id":"b442b775.6afdc8","type":"sqlite","z":"85334bc4.16d4c8","mydb":"5c7d3cc7.3aa514","sqlquery":"msg.topic","sql":"SELECT rowid, * from match\nORDER by rowid DESC","name":"db-match","x":460,"y":760,"wires":[["87095b91.6fae58","26e78c25.85f7a4"]]},{"id":"87095b91.6fae58","type":"debug","z":"85334bc4.16d4c8","name":"db-match","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":520,"y":880,"wires":[]},{"id":"ce783dfa.9918f","type":"comment","z":"85334bc4.16d4c8","name":"front-end","info":"","x":90,"y":720,"wires":[]},{"id":"70c9ae74.010f7","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/","method":"post","upload":false,"swaggerDoc":"","x":80,"y":860,"wires":[["839bee7a.d0a97","79eefa5.1471004"]]},{"id":"839bee7a.d0a97","type":"debug","z":"85334bc4.16d4c8","name":"monitor-post","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":940,"wires":[]},{"id":"79eefa5.1471004","type":"template","z":"85334bc4.16d4c8","name":"SELECT","field":"topic","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{#payload}}\nSELECT rowid, * from match\nWHERE title LIKE '%{{payload.search}}' OR description LIKE '%{{payload.search}}'\nORDER by rowid DESC\n{{/payload}}","output":"str","x":340,"y":860,"wires":[["36df16d8.bad80a","b442b775.6afdc8"]]},{"id":"36df16d8.bad80a","type":"debug","z":"85334bc4.16d4c8","name":"select","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":980,"wires":[]},{"id":"52bda8c8.a5d488","type":"template","z":"85334bc4.16d4c8","name":"Head","field":"template.head","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n    <head>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js\"></script>\n        <script src=\"//stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.bundle.min.js\" integrity=\"sha384-FxkQtQ8fW6C3xA7BoW8ocAb2N7U9dCA7ZJXMJlz/37PL6Q6PUGQ5ZeJcaXdYKcdJ\" crossorigin=\"anonymous\"></script>\n        <link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/bootswatch/4.5.2/slate/bootstrap.min.css\" integrity=\"sha384-8iuq0iaMHpnH2vSyvZMSIqQuUnQA7QM+f6srIdlgBrTSEyd//AWNMyEaSF2yPzNQ\" crossorigin=\"anonymous\">\n        <link rel=\"stylesheet\" href=\"//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\" integrity=\"sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN\" crossorigin=\"anonymous\">\n    </head>\n    \n","output":"str","x":1070,"y":360,"wires":[["86926d9.0eeca9"]]},{"id":"86926d9.0eeca9","type":"template","z":"85334bc4.16d4c8","name":"Html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n    <head>\n       {{{template.head}}}\n    </head>\n    \n    <body>\n        {{{template.navbar}}}\n        {{{template.body}}}\n        \n    </body>\n    \n</html>\n\n\n","output":"str","x":1070,"y":420,"wires":[["f5fd80c1.5784c"]]},{"id":"8253f9b1.8c6188","type":"template","z":"85334bc4.16d4c8","name":"/monitor","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n\n<div class = \"container\">\n    <h1>Last Stories</h1>\n    <div class =\"row\">\n        <div class=\"col-md-12\">\n            \n            <table class=\"table \">\n                \n                  <thead>\n                        <tr>\n                          <th scope=\"col\">Headline</th>\n                          <th scope=\"col\">Summar</th>\n                          <th scope=\"col\">Sent</th>\n                        </tr>\n                  </thead>\n                  \n                  <tbody>\n                        {{#payload}}\n                        <tr class=\"table-primary\">\n                          <td><a href =\"{{link}}\">{{title}}</a></td>\n                          <td>{{description}}</td>\n                          <td> {{#sent}}<i class=\"fa fa-check\" aria-hidden=\"true\"></i>{{/sent}} </td>\n                        </tr>\n                        {{/payload}}\n                  </tbody>\n                  \n            </table>\n            \n        </div>\n        \n        \n    </div>\n    \n</div>\n\n\n\n","output":"str","x":840,"y":620,"wires":[["fb3090ac.4fcbb"]]},{"id":"b6e20079.fa525","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/showcase","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1000,"wires":[["79eefa5.1471004"]]},{"id":"26e78c25.85f7a4","type":"switch","z":"85334bc4.16d4c8","name":"","property":"req.url","propertyType":"msg","rules":[{"t":"eq","v":"/monitor","vt":"str"},{"t":"eq","v":"/monitor/showcase","vt":"str"},{"t":"eq","v":"/monitor/api/match","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":650,"y":820,"wires":[["8253f9b1.8c6188"],["6bbdd5f8.04656c"],["f5fd80c1.5784c"]]},{"id":"6bbdd5f8.04656c","type":"template","z":"85334bc4.16d4c8","name":"/monitor","field":"template.body","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<div class=\"row\">\n    {{#payload}}\n        <div class=\"col-sm-6 col-md-4 col-lg-2\">\n            <div class=\"card text-white {{^sent}}bg-secondary{{/sent}} m-2\" style=\"max-width: 20rem;\">\n              <div class=\"card-header\"><a href =\"{{link}}\">{{title}}</a></div>\n              <div class=\"card-body\">\n                <p class=\"card-text\">{{description}}</p>\n              </div>\n            </div>\n        </div>\n       \n    {{/payload}}\n</div>\n\n\n","output":"str","x":840,"y":720,"wires":[["52bda8c8.a5d488"]]},{"id":"3d9a22e2.4320de","type":"comment","z":"85334bc4.16d4c8","name":"front-end","info":"","x":100,"y":1060,"wires":[]},{"id":"205c16ed.d739aa","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/api/match","method":"get","upload":false,"swaggerDoc":"","x":100,"y":1120,"wires":[["79eefa5.1471004"]]},{"id":"7e1d56c8.38bae8","type":"http in","z":"85334bc4.16d4c8","name":"","url":"/monitor/api/match","method":"post","upload":false,"swaggerDoc":"","x":110,"y":1180,"wires":[["79eefa5.1471004"]]},{"id":"5c7d3cc7.3aa514","type":"sqlitedb","z":"","db":"E:\\Node-Red\\Monitor\\monitor.db","mode":"RWC"}]